<div class="d-flex">
  <!-- Inicio del sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Gif's-App</h3>
    <hr class="text-white" />
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">Dashboard</a>
    </div>
  </div>
  <!-- fin del sidebar -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" name="" id="" class="form-control" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus
        perferendis accusantium ducimus ipsum sit at in aliquid delectus est ea
        sed suscipit, iusto ab totam qui voluptate nisi aperiam recusandae.
      </div>
    </div>
  </div>
</div>
